<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Spotify App Remote'un yüklü Spotify uygulamasını görebilmesi için (Android 11+) -->
    <queries>
        <package android:name="com.spotify.music" />
    </queries>

    <!-- Declare attribution tags to satisfy AppOps audits for MediaPlayer and AudioTrack -->
    <attribution
        android:tag="null"
        android:label="@string/app_name" />
    <attribution
        android:tag="media"
        android:label="@string/app_name" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for Supabase Deep Links -->
            <intent-filter android:label="Spark Login">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="spark" android:host="login" />
            </intent-filter>
        </activity>
    </application>

</manifest>
